<div>



    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"> <span class="glyphicon glyphicon-cog
"></span><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">

                    <span class="info-box-text">Total Devices</span>
                    <span class="info-box-number">{{vm.testbedInformation.totalDevices}}<small></small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"> <span class="glyphicon glyphicon-user"></span><i class="fa fa-google-plus"></i></span>

                <div class="info-box-content">

                    <span class="info-box-text">Users</span>
                    <span class="info-box-number">{{vm.testbedInformation.totalUsers}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"> <span class="glyphicon glyphicon-share"></span> <i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">

                    <span class="info-box-text">Shared Devices</span>
                    <span class="info-box-number">{{vm.testbedInformation.totalSharedDevices}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><span class="glyphicon glyphicon-comment"></span><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">

                    <span class="info-box-text">New Request</span>
                    <span class="info-box-number">{{vm.testbedInformation.totalRequest}}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->




    </div>



    <div class="row">
        </br>
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Config Policy for Endpoints</h3>
            </div>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-xs-2 no-padding-left">
                        <button class="btn btn-primary" ui-sref="home.new" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span >
                        Policy All Endpoints
                    </span>
                        </button>
                    </div>
                    <div class="col-xs-2 no-padding-left">
                        <button class="btn btn-primary" ui-sref="endpoint" >
                            <span class="glyphicon glyphicon-plus"></span>
                            <span >
                        Policy Single Endpoint
                    </span>
                        </button>
                    </div>

                    <div class="col-xs-2 no-padding-left">
                        <button class="btn btn-primary" ui-sref="shared-endpoint" >
                            <span class="glyphicon glyphicon-print"></span>
                            <span >
                        Shared Devices
                    </span>
                        </button>
                    </div>


                    <div class="col-xs-2 no-padding-left">
                        <button class="btn btn-primary" ui-sref="request-access" >
                            <span class="glyphicon glyphicon-envelope"></span>
                            <span >
                        Request Access
                    </span>
                        </button>
                    </div>

                    <div class="col-xs-2 no-padding-left">
                        <button class="btn btn-primary" ui-sref="access-log" >
                            <span class="glyphicon glyphicon-print"></span>
                            <span >
                        Access Logs
                    </span>
                        </button>
                    </div>


                </div>


            </div>

            </br>

        </div>
        </br>
    </div>


    <div  class = "row">

        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Testbed Information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-condensed">
                    <tbody><tr>
                        <th style="width: 10px">#</th>
                        <th tyle="width: 40px">Name</th>

                        <th >Information</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>Name</td>
                        <td>
                            {{vm.testbedInformation.name}}
                        </td>

                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>Location</td>
                        <td>
                            {{vm.testbedInformation.locationLat}}, {{vm.testbedInformation.locationLong}}
                        </td>

                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>userID</td>
                        <td>
                            {{vm.testbedInformation.userID}}
                        </td>

                    </tr>

                    </tbody></table>
            </div>
            <!-- /.box-body -->
        </div>

    </div>




    <h2>Access Logs of sensor: {{vm.currentSensor}}</h2>
    <jbt-alert></jbt-alert>
    <div class="container-fluid">
        <button class="btn btn-primary" ui-sref="access-log" >
            <span class="glyphicon"></span>
            <span >
                        Back
                    </span>
        </button>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="userId"><span>User Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="originalSensorId"><span>Original Sensor Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="accessStatus"><span>Access Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="accessTime"><span>Access Time</span> <span class="glyphicon glyphicon-sort"></span></th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="accessLog in vm.accessLogs track by accessLog.id">
                <td>{{accessLog.id}}</td>
                <td>{{accessLog.userId}}</td>
                <td><a ui-sref="access-log-detail({id:accessLog.originalSensorId})">{{accessLog.originalSensorId}}</a></td>
                <td>{{accessLog.accessStatus}}</td>
                <td>{{accessLog.accessTime | date:'medium'}}</td>


            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jbt-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jbt-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
